*__pycache__
ucupaint_updater/ucupaint_updater_status.json
credits/*
/in2cs2.zip
/.idea/.gitignore
/.idea/.name
/.idea/.zipper
/.idea/csv-plugin.xml
/.idea/material_theme_project_new.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/ucupaint.iml
/.idea/vcs.xml
